.logoContainer {
    @apply h-[6%]
}

.bottomContainer {
    height: calc(100% - 6%);
}

.itemTitle {
    @apply text-[14px] font-normal text-[var(--text-4)];
}

.activeItemTitle {
    @apply text-[14px] font-normal text-[var(--primary-color)];
}

.activeItemBg {
    background-color: #F1E8FC !important
}

.tabItem {
    height: 40px;
}

.iconActiveColor {
    color: var(--primary-color);
}

.bottomContainer1 {
    height: 80%;
}

.bottomContainer2 {
    height: 20%;
    @apply border-t border-gray-300;
}