
.container {
    @apply min-h-screen bg-white bg-gray-50;
    height: calc(100vh - 0px);
}

.navbarWrapper {
    height: 9%;
}

.mainContainer {
    @apply flex h-[calc(100%-9%)] p-8;
}

.leftPanel {
    @apply hidden lg:flex lg:w-1/2 items-center justify-center;
}

.imageContainer {
    @apply relative;
}

.heroImage {
    @apply max-w-[85%] h-auto;
}

.rightPanel {
    @apply w-full lg:w-1/2 flex items-center justify-center;
}

.employmentFormContainer {
    @apply w-full max-w-md flex lg:bg-white h-[90%] flex-col lg:p-7 justify-between;
}

.employmentFormContainer1 {
    @apply w-full max-w-md flex lg:bg-white h-full flex-col lg:p-7 justify-between;
}

.heading {
    @apply text-lg font-normal mb-2 text-center text-[var(--text-2)];
}

.description {
    @apply font-normal mb-2 text-center text-[var(--text-2)] text-[0.8rem];
}

.label {
    @apply block text-sm font-medium text-gray-700;
}

.innerContainer {
    @apply sm:w-[100%] sm:h-[100%];
}

.formContainer{
    overflow-y: scroll;
}
.formContainer {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #F0F0F0;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
}