.container {
  @apply min-h-screen bg-white flex bg-gray-50;
  height: calc(100vh - 0px);
}

.navbarWrapper {
  height: 9%;
}

.leftPanel {
  @apply hidden lg:flex lg:w-1/2 items-center justify-center;
}

.mainContainer {
  @apply flex h-[calc(100%-9%)] p-8;
}

.imageContainer {
  @apply relative;
}

.heroImage {
  @apply max-w-[85%] h-auto;
}

.rightPanel {
  @apply w-full lg:w-1/2 flex items-center justify-center;
}

.kycFormContainer {
  @apply w-full max-w-md flex lg:bg-white h-[85%] flex-col lg:p-7 flex-col justify-start;
}
.kycVerifyContainer{
  @apply w-full max-w-md flex lg:bg-white h-[85%] flex-col lg:p-7 flex-col justify-center gap-10;
}

.kycHeading {
  @apply text-2xl font-normal mb-8 text-center;
}

.label {
  @apply block text-sm font-medium text-gray-700 mb-2;
}




.primaryButton {
  width: 100%;
  background-color: #4f46e5;
  font-size: 14px;  
  color: white;
  font-weight: 500;
  padding: 0.75rem 1.5rem;  
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
}

.sendBtn{
  @apply font-normal text-sm float-right text-[var(--primary-color)];
}
.titleContainer{
  @apply text-xl font-normal text-center text-[var(--primary-color)];
}
.titleContainer1{
  @apply text-lg font-normal text-center text-[var(--primary-color)] flex items-center justify-center;
}
.descriptionContainer{
  @apply  font-normal text-center text-[var(--text-2)] mt-3 text-[0.8rem] leading-5
}

.gifImageContainer{
  @apply flex items-center justify-center;
}
.verificationGif{
  @apply w-[25%]
}
.continueButton{
  @apply bg-primary text-white font-medium py-3 px-20 rounded-lg transition-colors disabled:opacity-5;
}
.resendOtp{
  background: transparent !important;
}