
.container {
 @apply min-h-screen bg-white bg-gray-50;
  height: calc(100vh - 0px);
}

.navbarWrapper {
    height: 9%;
}

.mainContainer{
     @apply flex h-[calc(100%-9%)] p-8;
}

.leftPanel {
  @apply hidden lg:flex lg:w-1/2 items-center justify-center;
}


.imageContainer {
  @apply relative;
}

.heroImage {
  @apply max-w-[85%] h-auto;
}

.rightPanel {
  @apply w-full lg:w-1/2 flex items-center justify-center;
}

.formWrapper {
  @apply w-full max-w-md flex lg:bg-white h-[85%] flex-col lg:p-7 flex-col justify-center;
}

.heading {
  @apply text-2xl font-medium mb-5 text-center;
}

.subtitle{
    @apply text-sm font-normal mb-5 text-center;
}

.checkBox{
    @apply mb-5 text-sm;
}

.footerText {
    font-size: 0.8rem;
    color: #718096;
    margin-top: 0.5rem;
}